<html>
  <head>
      <title>Django Girls Blog</title>
  </head>
  <body>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>

      <div>
          <p>Published 14.06.2014, 12:14</p>
          <h2><a href="">My first Post</a></h2>
          <p>Just a bunch of text, it doesnt mean anything at all</p>
      </div>

      <div>
          <p>Published 14.06.2014, 12:14</p>
          <h2><a href="">My Second Post</a></h2>
          <p>Just a bunch of text, it doesnt mean anything at all</p>
      </div>
  </body>
</html>
